.Filter{
    height: fit-content;
    .container{
        >p{
            padding-top: 40px;
            margin-bottom: 7px;
            font-weight: bold;
            color: white;
            font-size: 18px;
        }
        .FilterSeach{
            // padding-top: 100px;
            display: flex;
            .FilterOption{
                position: relative;
                width: 20%;
                margin: 0 2% 0 0;
                button{
                    width: 100%;
                    border: 0;
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // font-weight: 550;
                    padding: 5px;
                    border-radius: 4px;
                    text-indent: 10px;
                    // margin-bottom: 10px;
                    svg{
                        margin-right: 5px;
                    }
                }
                >div{
                    position: absolute;
                    background-color: white;
                    width: 100%;
                    margin-top: 8px;
                    border-radius: 4px;
                    overflow: hidden;
    
                    p{
                        cursor: pointer;
                        text-indent: 15px;
                        margin: 0;
                        height: 40px;
                        line-height: 40px;
                    
                    }
                    p:hover{
                        background-color:rgba( #7ec0c9, 0.3) ;

                        // color: white;
                    }
                }
            }//FilterOption
            
            input{
                width: 34%;
                border: 0;
                border-radius: 4px;
                text-indent: 15px;
                outline: none;
            }

        } //FilterSeach
        .CategoriesSort{
            display: flex;
            margin-top: 30px;
            justify-content: space-between;

            button{
                padding: 5px 10px;
                border: none;
                background-color: #111;
                color: #fff;
                margin-left: 10px;
                border-radius: 5px;
            }
            .Categories{
                p{
                    font-weight: bold;
                    color: white;
                    font-size: 18px;
                    display: inline-block;
                    margin: 0;
                }
                span{
                    background-color: white;
                    padding: 8.5px 10px;
                    border-radius: 5px;
                    margin-left: 10px;
                }

            }//Categories
            .Sort{
                >p{
                    font-weight: bold;
                    color: white;
                    font-size: 18px;
                    display: inline-block;
                    margin: 0;
                }
                display: flex;
                align-items: center;
    
                .SortOption{
                    position: relative;
                    width: 100px;
                    button{
                        background-color: #fff;
                        color: #111;
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        text-indent: 5px;
                    }
                    >div{
                        position: absolute;
                        margin: 10px 0 0 10px;
                        background-color: #fff;
                        width: 100%;
                        border-radius: 4px;
                        overflow: hidden;
                        p{
                            cursor: pointer;
                            text-indent: 15px;
                            margin: 0;
                            height: 40px;
                            line-height: 40px;
                        
                        }
                        p:hover{
                            background-color:rgba( #7ec0c9, 0.3) ;
    
                            // color: white;
                        }
                    }
            
                    // position: absolute;
                    // background-color: white;
                    // width: 100%;
                    // margin-top: 8px;
                    // border-radius: 4px;
                    // overflow: hidden;
                }//SortOption
                >svg{
                    min-height: 35px;
                    min-width: 35px;
                    padding: 5px;
                    background-color: white;
                    border-radius: 5px;
                    margin-left: 20px;
                }
            }//Sort
            
        }
    }// container


    
}