$FooterBackground : #111;
$FooterColor:#7e7e7e;
$FooterColorHover:#fff;

$ButtonBackground:#7e7e7e;
$ButtonColor:#111;
$ButtonBackgroundHover: #fff;

    // $FooterBackground : #fff;
    // $FooterColor:#7e7e7e;
    // $FooterColorHover:#111;

    // $ButtonBackground:#7e7e7e;
    // $ButtonColor:#fff;;

    // $ButtonBackgroundHover:#111;


.AppFooter{
    background-color: $FooterBackground;
    color: $FooterColor;
    height: fit-content;
    padding: 40px 40px 0 40px ;
    p{
        cursor: pointer;
        font-size: 13px;
        margin-bottom: 13px;
    }
    p:hover{
        color: $FooterColorHover;
    }
    .Footer_Top{
        display: flex;
        flex-direction: row;
        padding-bottom: 30px;
        .Action,.GetHelp,.AboutKStore{
            width: 20%;
            p:first-child{
                color: $FooterColorHover;
            }
        }
        .Action{
            color: $FooterColorHover;
        }
        .Contact{
            width: 40%;
            display: flex;
            flex-direction: row;
            align-items:flex-start;
            justify-content: flex-end;
            button{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding: 0;
                border: 0px;
                margin-left: 10px;
                background-color: $ButtonBackground;
                color: $ButtonColor;
                svg{
                    min-height: 25px;
                    min-width: 25px;
                }
            }
            button:hover{
                background-color: $ButtonBackgroundHover;
            }
        }
    }
    .Footer_Bottom{
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        span{
            font-size: 12px;
            cursor: pointer;
        }
        span:hover{
            color: $FooterColorHover;
        }
        .Location{
            span:first-child{
                margin-right: 30px;
                color: $FooterColorHover;
                svg{
                    margin-bottom: 4px;
                }
            }
            span:nth-child(2):hover{
                color: $FooterColor;
                cursor: default;
            }
        }
        .TermAndPolicy{
            span{
                margin-right: 20px;
            }
        }
    }

}

